
<%= link_to "Create a new student", controller: "posts" %>

<table>
 
  <% @students.each do |s| %>
    <tr>
      <td><%= s.name %> </td>
      <td><%= s.nickname %>  </td>
      <td><%= s.email %> </td>
      <td><%= image_tag s.imageurl.to_s+".jpg" , :width => 80, :height => 80 %> </td>
      <td><%= link_to 'Edit', edit_post_path(s) %></td>
    </tr>
  <% end %>
  
  
</table>