
<% if !signed_in? -%>
  <%= link_to '<button type="button">Sign up</button>'.html_safe, controller: "posts"%>
  <%= link_to '<button type="button">Sign in</button>'.html_safe, controller: "sessions"%>
<% end -%>
 
<%  if signed_in? -%>
  <%= link_to "Sign out", signout_path, method: "delete" %>
  <%= link_to 'Edit', edit_post_path(current_user) %>
<% end -%>
  
  
<h1>Students:</h1>
  
  <% @students.each do |s| %>
      <div style="margin-top: 50px; margin-left: 3px; 
                  font-family: Arial Black; font-size: 15px;">
        Name: <%= s.name %> </br>
        Nickname: <%= s.nickname %> </br> 
        Email: <%= s.email %> </br>
        <%= image_tag s.imageurl.to_s+".jpg" , :width => 100, :height => 100 %>
      
        </br></br></br>
      </div>
   
  <% end %>
  
  
