
<% if !signed_in? -%>
  <%= link_to '<button type="button">Sign up</button>'.html_safe, controller: "students"%>
  <%= link_to '<button type="button">Sign in</button>'.html_safe, controller: "sessions"%>
<% end -%>
<%  if signed_in? -%>
  <%= link_to "Sign out", signout_path, method: "delete" %>
  <%= link_to 'Edit', edit_student_path(current_user) %>
  <%= link_to '<button type="button">I&#39m Here</button>'.html_safe, controller: "attendances"%>
<% end -%>
<%= link_to 'Attendance History', attendances_show_path %>


<%= form_tag "/", method: "get" do %>
  <p>Date: <input value = "<%= @date %>" name = "date" type="text" id="datepicker"></p>
  <input type="submit" value="Submit"> 
<% end %>
  
<h1>Present </h1>
    <table border = 1 style="margin: auto; width = 100%; background-color: #F8F8F8  " >
    <tr>
      <td height="500" width="500"> 
        <% Student.in_seat(1, @date ).each do |s| %>
          Nickname: <%= s.nickname %> </br> 
          <%= image_tag s.imageurl.to_s+".jpg" , :width => 100, :height => 100 %>
        <% end %>
      </td>
  
      <td height="500" width="500"> 
        <% Student.in_seat(2,  @date ).each do |s| %>
          Nickname: <%= s.nickname %> </br> 
          <%= image_tag s.imageurl.to_s+".jpg" , :width => 100, :height => 100 %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td height="500" width="500"> 
        <% Student.in_seat(3,  @date ).each do |s| %>
          Nickname: <%= s.nickname %> </br> 
          <%= image_tag s.imageurl.to_s+".jpg" , :width => 100, :height => 100 %>
        <% end %>
      </td>
      <td height="500" width="500"> 
        <% Student.in_seat(4,  @date ).each do |s| %>
          Nickname: <%= s.nickname %> </br> 
          <%= image_tag s.imageurl.to_s+".jpg" , :width => 100, :height => 100 %>
        <% end %>
      </td>
    </tr>
    </table>



<h1>Absent </h1>
<% Student.absent( @date ).each do |s| %>
  <div style="margin-top: 50px; margin-left: 3px; 
                  font-family: Arial Black; font-size: 15px;">
        Name: <%= s.name %> </br>
        Nickname: <%= s.nickname %> </br> 
        Email: <%= s.email %> </br>
        <%= image_tag s.imageurl.to_s+".jpg" , :width => 100, :height => 100 %>
      
       </br></br></br>
  </div>
<% end %>
