<h1>Editing Student</h1>
<ul>
  <% for message in @student.errors.full_messages %>
    <li><%= message %></li>
  <% end %>
</ul> 
<% debugger %>
<%= form_for :student, url: post_path(current_user), method: :patch do |f| %>


  
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :nickname %><br>
    <%= f.text_area :nickname %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </p>

  <p>
    <%= label_tag :new_image_url %><br>
    <%= text_area_tag :new_image_url %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %><br>
    <%= f.text_field :password_confirmation %>
  </p>

  <p>
    <%= image_tag @student.imageurl+".jpg" , :width => 80, :height => 80 %></br>
    
    <%= f.radio_button :imageurl, 'Keep' %> Keep the existing picture</br>
    <%= f.radio_button :imageurl, 'Change' %> Change the existing picture</br>
    <%= f.radio_button :imageurl, 'Delete' %> Delete the existing picture</br>

  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>